body{

    font-family: arial;
    color: white;
    background: linear-gradient(rgb(194, 190, 190), blue);
    text-decoration: none;
}
ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul li{
    border: rgb(37, 25, 25) 2px solid;
    float: left;
    align-content: center;
    width:60px;
    height: 20px;
    background-color: yellowgreen;
    opacity: .7;
    line-height: 20px;
    text-align: center;
    font-size: 15px;
    margin: 0px;
    border-radius: 20px;
}
ul li a{
    text-decoration: none;
    color: white;
    display: block;
    border-radius: 20px;
}

ul li a:hover{
    background-color: green;
}

ul li ul li{
    display: none;
}

ul li:hover ul li{
    display: block;
}
p{
    text-indent: 30px;
}

.omittur{
    display: block;
    border: 2px solid rgb(117, 119, 114);
}
.omittur1{
    text-align: center;
    border: 2px solid rgb(117, 119, 114);
}
.omittur2{
    text-align: center;
    border: 2px solid rgb(117, 119, 114);
}


