body{
    margin: 0;
    padding: 0;
}
.ecophoto{
    display: flex;
    width: 100%;
    height:100%;
    border: 2px solid greenyellow;
    display: inline-block;
}
.ecophoto img
{
    width: 40%;
    height: 40%;
}
.ecophoto img:hover{
    width: 100%;
    height: 100%;
}